#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if networks is defined %}
  {% for net in networks %}
resource "libvirt_network" "{{ net.name }}" {
    name = var.net_{{ net.name }}
    mode = var.net_{{ net.name }}_mode
    {% if net.cidr is defined %}
    addresses = [var.net_{{ net.name }}_cidr]
    {% endif %}

    {%- if net.domain is defined %}
    domain = var.net_{{ net.name }}_domain
    {% endif %}

    {%- if net.bridge is defined %}
    bridge = var.net_{{ net.name }}_bridge
    {% endif %}

    {%- if net.mtu is defined %}
    mtu = var.net_{{ net.name }}_mtu
    {% endif %}

    {%- if net.autostart is defined %}
    autostart = var.net_{{ net.name }}_autostart
    {% endif %}

    {%- if net.dhcp is defined %}
    dhcp {
      enabled = {{ net.dhcp|lower }}
    }
    {% endif %}

    {%- if net.dns is defined and net.dns %}
    dns {
        enabled = true
    }
    {% endif %}
}

  {% endfor %}
{% endif %}

