#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if networks is defined %}
  {% for net in networks %}
resource "libvirt_network" "{{ net.name }}" {
    name = var.{{ net.name }}
    mode = var.{{ net.name }}_mode
    {% if net.cidr is defined %}
    addresses = [var.{{ net.name }}_cidr]
    {% endif %}

    {%- if net.domain is defined %}
    domain = var.{{ net.name }}_domain
    {% endif %}

    {%- if net.bridge is defined %}
    bridge = var.{{ net.name }}_bridge
    {% endif %}

    {%- if net.mtu is defined %}
    mtu = var.{{ net.name }}_mtu
    {% endif %}

    {%- if net.autostart is defined %}
    autostart = var.{{ net.name }}_autostart
    {% endif %}

    {%- if net.dhcp is defined %}
    dhcp = {
      enabled = {{ net.dhcp|lower }}
    }
    {% endif %}
}

  {% endfor %}
{% endif %}

