#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% for instance in instances %}

output "{{ instance.name }}" { 
    value = {
    {% if instance.networks[0].wait_for_lease is defined and not instance.networks[0].wait_for_lease %}
      "public_ip" = "0.0.0.0"
    {% elif instance.networks[0].address is defined %}
      "public_ip" = var.{{ instance.name }}_{{ instance.networks[0].network_name }}_address}"
    {% else %}
      "public_ip" =  libvirt_domain.{{ instance.name }}.network_interface.0.addresses.0
    {% endif %}
      "ssh_username" =  var.ssh_username
    }
}
{% endfor %}
