#jinja2: lstrip_blocks: "True", trim_blocks: "True"
ssh_username = "{{ ssh_username }}"
ssh_public_key = "{{ ssh_public_key | b64decode }}"
ssh_private_key_file = "./{{ project_name }}.pkey"
volume_pool =  "{{ volume_pool | default('default') }}"
cloudinit_iso = "{{ cloudinit_iso_name | default('cloudinit.iso') }}"

{% if networks is defined %}
    {% for net in networks %} 
net_{{ net.name }} = "{{ net.name }}"
net_{{ net.name }}_mode =  "{{ net.mode }}"
        {% if net.cidr is defined %}
net_{{ net.name }}_cidr =  "{{ net.cidr }}"
        {% endif %}

        {%- if net.domain is defined %}
net_{{ net.name }}_domain = "{{ net.domain }}"
        {% endif %}

        {%- if net.bridge is defined %}
net_{{ net.name }}_bridge = "{{ net.bridge }}"
        {% endif %}

        {%- if net.mtu is defined %}
net_{{ net.name }}_mtu = "{{ net.mtu }}"
        {% endif %}

        {%- if net.autostart is defined and net.autostart %}
net_{{ net.name }}_autostart = true
        {% endif %}

        {%- if net.dhcp is defined and net.dhcp %}
net_{{ net.name }}_dhcp = true
        {% endif %}

    {% endfor %}
{% endif %}

{% if volumes is defined %}
  {% for vol in volumes %}
vol_{{ vol.name }} = "{{ vol.name }}"
    {% if vol.pool is defined %}
vol_{{ vol.name }}_pool = "{{ vol.pool }}"
    {% endif %}

    {%- if vol.source is defined %}
vol_{{ vol.name }}_source = "{{ vol.source }}"
    {% endif %}

    {%- if vol.size is defined %}
vol_{{ vol.name }}_size = "{{ vol.size }}"
    {% endif %}

    {%- if vol.base_volume_id is defined %}
vol_{{ vol.name }}_base_volume_id = "{{ vol.base_volume_id }}"
    {% endif %}

    {%- if vol.base_volume_name is defined %}
vol_{{ vol.name }}_base_volume_name = "{{ vol.base_volume_name }}"
    {% endif %}

    {%- if vol.base_volume_pool is defined %}
vol_{{ vol.name }}_base_volume_pool = "{{ vol.base_volume_pool }}"
    {% endif %}
  {% endfor %}
{% endif %}


{% if instances is defined %}
    {% for instance in instances %}
dom_{{ instance.name }} = {{ instance.name }}
        {% if instance.cpu is defined %}
dom_{{ instance.name }}_cpu = {{ instance.cpu }}
        {% endif %} 
        {% if instance.vcpu is defined %}
dom_{{ instance.name }}_vpcu = {{ instance.vcpu }}
        {% endif %}
        {% if instance.memory is defined %}
dom_{{ instance.name }}_memory = {{ instance.memory }}
        {% endif %}
        {% if instance.disks is defined %}
            {% for disk in instance.disks %}
                {%- if disk.file is defined %}
{{ instance.name }}_{{ disk.name }}_source = {{ disk.file }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
