#jinja2: lstrip_blocks: "True", trim_blocks: "True"
variable "ssh_username" {}
variable "ssh_public_key" {}
variable "ssh_private_key_file" {}

# Networks

{% if networks is defined %}
    {% for net in networks %}
variable "net_{{ net.name }}" {}
variable "net_{{ net.name }}_mode" {}
        {% if net.cidr is defined %}
variable "net_{{ net.name }}_cidr" {}
        {% endif %}

        {%- if net.domain is defined %}
variable "net_{{ net.name }}_domain" {}
        {% endif %}

        {%- if net.bridge is defined %}
variable "net_{{ net.name }}_bridge" {}
        {% endif %}

        {%- if net.mtu is defined %}
variable "net_{{ net.name }}_mtu" {}
        {% endif %}

        {%- if net.autostart is defined %}
variable "net_{{ net.name }}_autostart" {
    type = bool
    default = false
}
        {% endif %}
 
        {%- if net.dhcp is defined %}
variable "net_{{ net.name }}_dhcp" {
    type = bool
    default = false
}
        {% endif %}

    {% endfor %}
{% endif %}

# Volumes

{% if volumes is defined %}
  {% for vol in volumes %}
variable "vol_{{ vol.name }}" {}

    {% if vol.pool is defined %}
variable "vol_{{ vol.name }}_pool" {}
    {% endif %}

    {%- if vol.source is defined %}
variable "vol_{{ vol.name }}_source" {}
    {% endif %}

    {%- if vol.size is defined %}
variable "vol_{{ vol.name }}_size" {}
    {% endif %}

    {%- if vol.base_volume_id is defined %}
variable "vol_{{ vol.name }}_base_volume_id" {}
    {% endif %}

    {%- if vol.base_volume_name is defined %}
variable "vol_{{ vol.name }}_base_volume_name" {}
    {% endif %}

    {%- if vol.base_volume_pool is defined %}
variable "vol_{{ vol.name }}_base_volume_pool" {}
    {% endif %}
  {% endfor %}
{% endif %}

# Instances

{% if instances is defined %}
    {% for instance in instances %}
variable "dom_{{ instance.name }}" {}
variable "dom_{{ instance.name }}_cpu" {
    default="host-passthrough"
}
variable "dom_{{ instance.name }}_vpcu" {
    default=2
}
variable "dom_{{ instance.name }}_memory" {
    default=1024
} 
variable "dom_{{ instance.name }}_running" {
    default=true
}
        {% if instance.disks is defined %}
            {% for disk in instance.disks %}
                {%- if disk.file is defined %}
variable "{{ instance.name }}_{{ disk.name }}_source" {}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

