#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if networks is defined %}
    {% for net in networks %}
variable "{{ net.name }}" {}
variable "{{ net.name }}_mode" {}
        {% if net.cidr is defined %}
variable "{{ net.name }}_cidr" {}
        {% endif %}

        {%- if net.domain is defined %}
variable "{{ net.name }}_domain" {}
        {% endif %}

        {%- if net.bridge is defined %}
variable "{{ net.name }}_bridge" {}
        {% endif %}

        {%- if net.mtu is defined %}
variable "{{ net.name }}_mtu" {}
        {% endif %}

        {%- if net.autostart is defined %}
variable "{{ net.name }}_autostart" {}
        {% endif %}
 
        {%- if net.dhcp is defined %}
variable "{{ net.name }}_dhcp" {}
        {% endif %}

    {% endfor %}
{% endif %}

{% if instances | length > 0 %}
variable "disk_id" {type="string", default = ""}
variable "volume_pool" {type = "string"}
variable "cloudinit_iso" {type = "string"}
variable "ssh_username" {type = "string"}
variable "ssh_public_key" {type = "string"}
variable "ssh_private_key_file" {type = "string"}
{% for vm in vms %}
  {% for disk in vm.disks %}
    {% if disk.type is undefined or disk.type != "iso" %}
      {% if disk.size is defined and (disk.source is undefined or disk.source != "/dev/zero") %}
variable "{{ vm.vm_name }}_{{ disk.name }}_base" {type = "string"}
      {% endif %}
variable "{{ vm.vm_name }}_{{ disk.name }}" {type = "string"}
variable "{{ vm.vm_name }}_{{ disk.name }}_pool" {type = "string", default = "default"}
      {% if disk.size is defined %}
variable "{{ vm.vm_name }}_{{ disk.name }}_size" {type = "string"}
      {% endif %}
      {% if disk.base_volume_name is defined %}
variable "{{ vm.vm_name }}_{{ disk.name }}_base_volume_name" {type = "string"}
variable "{{ vm.vm_name }}_{{ disk.name }}_base_volume_pool" {type = "string", default = "default"}
      {% endif %}
    {% endif %}
    {% if disk.source is undefined or disk.source != "/dev/zero" %}
variable "{{ vm.vm_name }}_{{ disk.name }}_source" {type = "string"}
    {% endif %}
  {% endfor %}
  {% for vm_net in vm.networks %}
        {% if vm_net.bridge is not defined %}
variable "{{ vm.vm_name }}_{{ vm_net.network_name }}" {type = "string"}
            {% if vm_net.address is defined %}
variable "{{ vm.vm_name }}_{{ vm_net.network_name }}_address" {type = "string"}
            {% endif %}
        {% endif %}
    {% endfor %}
variable "{{ vm.vm_name }}_hostname" {type = "string" }
variable "{{ vm.vm_name }}_ncpu" {type = "string"}
variable "{{ vm.vm_name }}_memory" {type = "string"}
variable "{{ vm.vm_name }}_vm_name" {type = "string"}
{% endfor %}
{% endif %}
