{
    "variables":
    {
        "ncpu": "{{ ncpu | default('2') }}",
        "memory": "{{ memory | default('2048') }}",
{% if distro == "centos" %}
        "kickstart_file": "kickstart.ks",
        "iso_file": "{{ iso_file | default('CentOS-7-x86_64-NetInstall-1810.iso') }}",
        "iso_external_path": "{{ iso_external_path | default('http://mirror.mhd.uk.as44574.net/mirror.centos.org/7.6.1810/isos/x86_64/') }}",
        "iso_internal_path": "{{ iso_internal_path | default('') }}",
        "iso_checksum": "{{ iso_checksum | default('19d94274ef856c4dfcacb2e7cfe4be73e442a71dd65cc3fb6e46db826040b56e') }}",
        "ssh_username": "{{ ssh_build_username | default('root') }}",
{% elif distro == "ubuntu16" and arch == "amd64" %}
        "ssh_username": "{{ ssh_build_username | default('dev') }}",
        "preseed_file": "preseed",
        "iso_file": "{{ iso_file | default('ubuntu-16.04.5-server-amd64.iso') }}",
        "iso_external_path": "{{ iso_external_path | default('http://releases.ubuntu.com/16.04') }}",
        "iso_internal_path": "{{ iso_internal_path | default('http://myserver:8080/ubuntu') }}",
        "iso_checksum": "{{ iso_checksum | default('c94de1cc2e10160f325eb54638a5b5aa38f181d60ee33dae9578d96d932ee5f8') }}",
        "shutdown_timeout": "{{ shutdown_timeout | default('5m') }}",
        "communicator": "ssh",
{% elif distro == "debian" %}
        "preseed_file": "debian.preseed",
        "iso_file": "",
        "iso_file": "",
        "iso_external_path": "",
        "iso_internal_path": "",
        "iso_checksum": "",
        "boot_command": "",
{% else %}
        "preseed_file": "",
        "kickstart_file": "",
        "iso_file": "",
        "iso_file": "",
        "iso_external_path": "",
        "iso_internal_path": "",
        "iso_checksum": "",
        "boot_command": "",
{% endif %}
        "disk_size": "{{ disk_size | default('7500') }}",
        "output_directory": "{{ output_directory | default('build/') }}",
        "iso_checksum_type": "{{ iso_checksum_type | default('sha256') }}",
        "ssh_password": "{{ ssh_password | default('root') }}",
        "packer_cache_dir": "{{ packer_cache_dir | default('packer_cache') }}",
        "http_directory": "{{ http_directory | default('.') }}",
        "vm_name": "{{ vm_name | default('terrakvm') }}",
        "language": "{{ language | default('en') }}",
        "country": "{{ country | default('GB') }}",
        "locale": "{{ locale | default('en_GB.UTF-8')}}",
        "domain": "{{ domain | default('')}}",
        "keyboard": "{{ keyboard | default('uk') }}"
    },
    "builders":
    [
        {
{% if distro == "ubuntu" %}
{% raw %}
            "shutdown_command": "echo '{{user `ssh_password`}}' | sudo -E -S poweroff",
            "shutdown_timeout": "{{user `shutdown_timeout`}}",
            "communicator": "{{user `communicator`}}",
            "skip_compaction": true,
{% endraw %}
{% elif distro == "centos" %}
{% raw %}
            "shutdown_command": "systemctl poweroff",
{% endraw %}
{% endif %}
            "type": "qemu",
            "iso_url": {{ '"{{user `iso_url`}}",' }}
            "iso_checksum": {{ '"{{user `iso_checksum`}}",' }}
            "iso_checksum_type": {{ '"{{ user `iso_checksum_type`}}",' }}
            "iso_target_path": {{ '"{{user `packer_cache_dir`}}/{{user `iso_file`}}",' }}
            "iso_urls": [
              {{ '"{{user `iso_internal_path`}}/{{user `iso_file`}}",' }}
              {{ '"{{user `iso_external_path`}}/{{user `iso_file`}}"' }}
            ],
            "output_directory": {{ '"{{user `output_directory`}}",' }}
            "ssh_wait_timeout": "30s",
            "disk_size": {{ '"{{user `disk_size`}}",' }}
            "format": "qcow2",
            "accelerator": "kvm",
            "vnc_bind_address": "127.0.0.1",
            "headless": "true",
            "qemuargs":
            [
                [ "-smp" , {{ '"{{user `ncpu`}}" ],' }}
                [ "-m", {{ '"{{user `memory`}}" ]' }}
            ],
            "http_directory": {{ '"{{ user `http_directory` }}",' }}
            "http_port_min": 10082,
            "http_port_max": 10089,
            "ssh_host_port_min": 2222,
            "ssh_host_port_max": 2229,
            "ssh_username": {{ '"{{ user `ssh_username`}}",' }}
            "ssh_password": {{ '"{{ user `ssh_password`}}",' }}
            "ssh_port": 22,
            "ssh_wait_timeout": "30m",
            "vm_name": {{ '"{{user `vm_name`}}",' }}
            "net_device": "virtio-net",
            "disk_interface": "virtio-scsi",
            "disk_cache": "unsafe",
            "disk_discard": "unmap",
            "disk_compression": true,
            "boot_command":
            [
{% if distro == "centos" %}
                {{ '"<tab> text ks=http://{{ .HTTPIP }}:{{ .HTTPPort }}/kickstart.ks<enter><wait>"' }}
{% elif distro == "ubuntu" %}
{% raw %}
                "<esc><f6><esc>",
                "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
                "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
                "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
                "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
                "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
                "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
                "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
                "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
                "<bs><bs><bs>",
                "initrd=/install/initrd.gz ",
                "auto=true ",
                "url=http://{{.HTTPIP}}:{{.HTTPPort}}/{{user `preseed_file`}} ",
                "language={{user `language`}} ",
                "country={{user `country`}} ",
                "locale={{user `locale`}} ",
                "hostname={{user `vm_name`}} ",
                "domain={{user `domain`}} ",
                "interface=auto ",
                "console-setup/ask_detect=false ",
                "keyboard-configuration/layoutcode={{user `keyboard`}} ",
                "vga=788 noprompt quiet --<enter>"
{% endraw %}
{% endif %}
            ]
        }
    ],
    "provisioners":
    [
{% if distro == "centos" %}
        {
            "type": "shell",
            "inline": [
                "yum remove postfix -y",
                "yum install cloud-init cloud-utils -y"
            ]
        },
        {
            "type": "file",
            "source": "./99-cloudinit.cfg",
            "destination": "/etc/cloud/cloud.cfg.d/99-cloudinit.cfg"
        },
        {
            "type": "shell",
            "inline": [
                "rm -f /var/lib/NetworkManager/*.lease",
                "sed -i '/HWADDR/d' /etc/sysconfig/network-scripts/ifcfg-eth0",
                "rm -f /etc/ssh/ssh_host*key*",
                "systemctl enable cloud-init cloud-config NetworkManager-wait-online fstrim.timer",
                "unset HISTFILE"
            ]
        },
        {
            "type": "shell",
            "inline":[
                "fstrim -v /"
            ]
        }
{% elif distro == "ubuntu" %}
{% raw %}
        {
            "type": "shell",
            "execute_command": "echo '{{user `ssh_password`}}' | {{.Vars}} sudo -E -S '{{.Path}}'",
            "inline_shebang": "/bin/sh -e",
            "inline": [
                "apt-get update",
                "apt-get --yes dist-upgrade",
                "apt-get install cloud-init cloud-utils -y",
                "apt-get clean"
            ]
        }
{% endraw %}
{% endif %}
    ]
}
