{
  "headless": "{{ headless | default('true') }}",
  "version": "{{ version | default('0.1') }}",
  "vm_name": "{{ vm_name }}",
  "ncpu": "{{ ncpu | default('4') }}",
  "disk_size": "{{ disk_size | default('7500')}}"
}
