build-base
libffi-dev
openssl-dev
py3-setuptools
wget
unzip
git
python3
python3-pip
python3-dev
sudo
shadow
jq
libvirt-clients
curl
python-netaddr
gnupg2
sshpass
tmux
rsync
netcat
qemu
qemu-img
qemu-system-x86_64
libvirt
libvirt-daemon
openssh
iproute2
libxml2-dev
libxslt-dev
