{% for vm in vms %}
output "{{ vm.vm_name }}" { value = "${
    map(
{% if vm.networks.0.address is defined %}
      "public_ip", "${var.{{ vm.vm_name }}_{{ vm.networks.0.network_name }}_address}",
{% else %}
      "public_ip", "${libvirt_domain.{{ vm.vm_name }}.network_interface.0.addresses.0}",
{% endif %}
      "ssh_username", "${var.ssh_username}"
    )}"
}
{% endfor %}
