variable "network_id" {type = "string", default = ""}
variable "network_name" {type = "string", default = "default"}
variable "network_mode" {type = "string", default = "nat"}
variable "disk_id" {type="string", default = ""}
variable "volume_pool" {type = "string", default = "default"}
variable "network_cidr" {type = "string", default = "172.32.1.0/24"}
variable "dhcp_enabled" {type = "string", default = "true"}
variable "cloudinit_iso" {type = "string", default = "cloudinit.iso"}
variable "ssh_username" {type = "string", default = "dev"}
variable "ssh_public_key" {type = "string"}
{% for vm in vms %}
variable "{{ vm.vm_name }}_hostname" {type = "string", default = "{{ vm.hostname }}"}
variable "{{ vm.vm_name }}_address" {type = "string", default = "{{ vm.address | default('') }}"}
variable "{{ vm.vm_name }}_ncpu" {type = "string", default = "{{ vm.ncpu }}"}
variable "{{ vm.vm_name }}_memory" {type = "string", default = "{{ vm.memory }}"}
variable "{{ vm.vm_name }}_vm_name" {type = "string", default = "{{ vm.vm_name }}"}
variable "{{ vm.vm_name }}_network_name" {type = "string", default = "{{ vm.network_name | default('default') }}"}
{% if not vm.from_iso %}
{% set terraform_loop_iso_filter = "[?distro=='"+ vm.distro +"' && arch=='" + vm.arch +"'].iso_name" %}
variable "{{ vm.vm_name }}_packer_image" {type = "string", default = "{{ download_cache_dir }}/{{ cloud_images | json_query(terraform_loop_iso_filter) | join('')}}"}
{% else %}
variable "{{ vm.vm_name }}_packer_image" {type = "string", default = "{{ packer_image }}"}
{% endif %}
{% endfor %}
